asgiref==3.12.1
Django==6.0.7
django-ckeditor-5==0.2.20
django-cors-headers==4.9.0
django-unfold==0.102.0
djangorestframework==3.17.1
gunicorn==26.0.0
packaging==26.3
pillow==12.3.0
pip==24.3.1
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
